<article class="container-fluid p-4 p-sm-5 bg-white" style="min-width: var(--bs-breakpoint-lg);">
    <header>
        <h2>{{ .Company.Name }}</h2>
        <p class="my-1">{{ .Company.Address }}</p>
        <p class="my-1">{{ .Company.Phone }}</p>
        <p class="my-1">{{ .Company.Email }}</p>
    </header>

    <section class="text-center my-5">
        <h1>INVOICE</h1>
        <p class="text-secondary">Nº {{ .Number }}</p>
    </section>

    <table class="table w-100">
        <thead style="font-size: small;">
            <tr>
                <th>Descrição</th>
                <th class="text-center">Qnt</th>
                <th>Preço Unitário</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Items }}
            <tr>
                <td>{{ .Description }}</td>
                <td class="text-center text-nowrap">{{ .Ammount }}</td>
                <td class="text-nowrap">{{ .UnitPrice | priceFormat }}</td>
                <td class="text-nowrap">{{ .Price | priceFormat }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <section class="container my-4">
        <p class="row my-1">
            <span class="col text-end">Descontos:</span>
            <span class="col-4 text-nowrap">{{ .Discounts | priceFormat }}</span>
        </p>
        <p class="row my-1">
            <span class="col text-end">Envio:</span>
            <span class="col-4 text-nowrap">{{ .ShipmentCosts | priceFormat }}</span>
        </p>
        <p class="row fw-bold my-1">
            <span class="col text-end">Total:</span>
            <span class="col-4 text-nowrap">{{ .Total | priceFormat }}</span>
        </p>
    </section>

    <footer>
        <hr class="border-secondary">
        <p>
            <strong>Data:</strong> {{ .Date | dateFormat }}
        </p>
        <p class="mt-5">
            <strong>Assinatura:</strong>
        </p>
    </footer>
</article>