<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Invoice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/base.css">
</head>

<body class="py-5 px-3 print-p-0 bg-body-secondary print-bg d-flex justify-content-center d-print-block">
    <div class="d-inline-block">
        <header class="my-2 d-print-none">
            <button class="d-block ms-auto btn btn-sm btn-info" type="button" onclick="print()">Imprimir</button>
        </header>

        <main>
            {{ if eq .Template "purchase-invoice" }}
            {{ template "purchase-invoice.html" .Content }}
            {{ else if eq .Template "detailed-purchase-invoice" }}
            {{ template "detailed-purchase-invoice.html" .Content }}
            {{ end }}
        </main>
    </div>
</body>

</html>