<article class="container-fluid p-5 pt-4 bg-white border rounded" style="width: 500px;">
    <header class="row mb-5" style="font-size: small;">
        <span class="col">Invoice <span class="text-secondary">#{{ .Number }}</span></span>
        <span class="col text-end">{{ .Date | dateFormat }}</span>
    </header>

    <h1 class="fs-4 mb-5 mx-auto text-center" style="max-width: 25rem">Agradecemos por sua compra,
        {{ .Name }}!
    </h1>

    <ul class="list-group list-group-flush">
        {{ range .Items }}
        <li class="list-group-item py-3 border-bottom-0 border-top">
            <span class="col">{{ .Description }}</span>
            <span class="col-4 float-end text-end">{{ .Price | priceFormat }}</span>
        </li>
        {{ end }}
        <li class="list-group-item py-4 text-end border-3 border-start-0 border-end-0">
            <strong>Total: {{ .Total | priceFormat }}</strong>
        </li>
    </ul>

    <footer class="mt-4">
        <p class="text-wrap text-body-secondary">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa dicta officia veritatis!
            Voluptatibus
            natus commodi quidem libero excepturi cum magni.
        </p>
    </footer>
</article>